-e git+https://github.com/django/django.git@stable/1.4.x#egg=django
-e bzr+http://code.0x2620.org/python-ox/#egg=python-ox
-e bzr+http://code.0x2620.org/oxtimelines/#egg=oxtimelines
simplejson
chardet
celery==3.0.24
django-celery==3.0.23
#django_extensions
#-e git+https://github.com/django-extensions/django-extensions.git#egg=django_extensions
#use fork fixing some postgresql issues
-e git://github.com/bit/django-extensions.git#egg=django_extensions
-e git+git://github.com/dcramer/django-devserver#egg=django_devserver
gunicorn>=0.14.3
html5lib
South
requests>=2.0.0
