<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>timeline demo</title>
        <link rel="stylesheet" type="text/css" href="/static/oxjs/build/css/ox.ui.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/timeline.css"/>
        <script type="text/javascript" src="/static/oxjs/build/js/jquery-1.4.2.js"></script>
        <script type="text/javascript" src="/static/js/jquery/jquery.videosupport.js"></script>
        <script type="text/javascript" src="/static/oxjs/build/js/ox.js"></script>
        <script type="text/javascript" src="/static/oxjs/build/js/ox.data.js"></script>
        <script type="text/javascript" src="/static/oxjs/build/js/ox.ui.js"></script>
        <script type="text/javascript" src="/static/js/timeline.js"></script>
    </head>
    <body></body>
</html>
